



/* Styling l-body */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #000000;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

:root{
    --color1:#1a1a1af2;
    --color2:#121212;
    --color3:#ff6B6B;
    --color4:#e0e0e0;
}



header {
     background-color: var(--color3);
     display: flex;
     align-items: center;
     justify-content: space-between;
     color: #ffffff;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 999;
}

header h2{
  
   margin-left: 60px;
}

header a{
     text-decoration: none;
     margin-left: 40px;
     color: rgb(255, 255, 255);
     font-size: 1.1rem;
     font-weight: 500;
}


header .add_article{
    padding: 0.4rem 30px;
    background-color: transparent;
    border: 2px solid #ffffff;
    font-weight: 500;
    border-radius: 40px;
    margin-right: 70px;
}

.os{
    margin-top: 40px;
    display: flex;
   
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

/* Container dyal l-form */
form {
    /* background: #ffffff; */
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 500px;
}

/* Styling l-inputs w textarea */
input[type="text"], 
textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 2px solid var(--color3);
    border-radius: 8px;
    font-size: 15px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

/* Ila derti click l-input i-tbeddel l-on dyalo */
input[type="text"]:focus, 
textarea:focus {
    border-color: #4A90E2;
    outline: none;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.2);
}

textarea {
    height: 150px;
    resize: none; /* Bach may-kherbjch l-user l-form */
}

/* Styling l-button "Update" */
button[type="submit"] {
    width: 100%;
    background-color:var(--color3); /* Loun khdar f l-update dima hsan */
    color: #ffffff;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    border-left: 3px solid white;
    cursor: pointer;
    transition: background 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #ff6b6bc7;
    transform: translateY(-1px); /* Wahd l-effet sghir dyal t-tle3 */
}

/* Responsive: f tilifun t-ban mzyana */
@media (max-width: 480px) {
    form {
        width: 90%;
        padding: 1.5rem;
    }
}